<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

    <display-name>Sample Rest Service</display-name>

    <servlet>
       <servlet-name>SampleRestService</servlet-name>
       <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>javax.ws.rs.Application</param-name>
            <param-value>com.example.core.JerseyApplication</param-value>
        </init-param>     
        <init-param>
           <param-name>jersey.config.server.provider.packages</param-name>
         <param-value>com.example.core</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
       <servlet-name>SampleRestService</servlet-name>
       <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>

